#1. Find the largest number from the given list, use for loop.

In [4]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest_number = numbers[0]
for number in numbers:
  if number > largest_number:

    largest_number = number
print(largest_number)

525

#Q2. Print all the even number between (1, 12).

In [25]:
for i in range(1, 13):
  if i%2!=0:
    continue
  print(i)

2
4
6
8
10
12

In [26]:
for i in range(1, 12):
  if i%2!=0: 
    continue
  print(i)

2
4
6
8
10

#3. Calculate the sum of all numbers from 1 to a given number

In [30]:
number = int(input("Number: "))
sum = 0
for i in range(1, number + 1):
    sum += i
print(sum)

Number: 10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [70]:
num  = [12, 75, 150, 180, 145, 525, 50]

for i in num:
    if i>150:
        if i>500:
            break
        continue
    if i%5 == 0:
      print(f"the numbers are divisible by 5 are: {i}")

the numbers are divisible by 5 are: 75
the numbers are divisible by 5 are: 150
the numbers are divisible by 5 are: 145

#5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [75]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]