#1. Count the number of times iNeuron appears in the string.

In [3]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text = text.count("iNeuron")

In [5]:
text

3

#2.Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [6]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
#      1234567891011
txt[5:11]

', welc'

#no it doesnt end with iNeuron

#3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [22]:
str=input("Enter a your full name:")
list1 = str.split(" ")
print(list1[0][0],list1[1][0],list1[2])

Enter a your full name:Sunnhy Bhaveen Chandra
S B Chandra

#4.Join all items in a list into a string, using a hash(#) character as separator:

In [23]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
"#".join(LIST)

'My#name#is#Rishav#Dash'

#5.Write example for the following string manipulation function,

In [33]:
s = "12345"
print(s.isdecimal())

True

In [36]:
a = "lower" 
a.islower()

True

In [39]:
b = "BOB"
b.isupper()

True

In [40]:
a.isalpha()

True

In [42]:
s.isnumeric()

True

#6.Indian PAN card format follows the following formats -

AYEPC7894X
ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [46]:
pan_number = input("enert your pan number: ")
if pan_number.isalnum and len(pan_number)==10:
  print(f"user input is correct")
else:
  print("enter correct pan number")

enert your pan number: ABCDE9999Y
user input is correct