#1. What is indentation error? Why indentation is important? Give one simple example? 
indentation error appears in a python code when the spaces and tabs are not placed correctly in a code.  If there is an error due to indentation, it will come in between the execution.
for eg.

In [ ]:
raining = False 
if raining:
print("lets have tea")
else:
  print("lets have pakodas")

IndentationError: ignored

#5.What would be the solution?

True

False

a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

In [ ]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

#2. Correct the following code and write the comment where you made the correction?

class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

In [ ]:
class_started = bool(int(input("Hey friend, is class started?: [0-False/1-True]")))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

here the problem was in the first line of code as the input is by default in a string so the output was coming as true as we run the code even if the input was false so to tackle this issue we put int after bool to convert it into integer hence our problem is solved

#3.Use if else condition to verify that dataype of input() method in python is always string

In [ ]:
age = input("enter your age: ")

if age >= 18:
  print("adult")
else:
  print("minor")

enter your age: 22

TypeError: ignored

In [ ]:
age = input(str("enter your age: "))

if age >= ("18"):
  print("adult")
else:
  
  print("minor")

enter your age: 22
adult

##as reflected through the above given two examples until and unless i converted the data type to string in the later code it gave error in the 1st one so this proves that the datatype in input() is always string

#6.Find the answer as well as find out the reason behind the result? -

case 1:

In [ ]:
 A = 5.0
 B = (10/2)
print(A is B)

False

In [ ]:
type(A)

float

In [ ]:
type(B)

float

In [ ]:
B

5.0

In [ ]:
id(A)

140218979790640

In [ ]:
id(B)

140218979280720

###as we can see that the values of both the variables is same but the answer displayed is false the reason is simple as the id of oth the variable is different and python stores different memory block for different variables although their type is same their values are same due to id being different we get the answer as False

#case 2

In [ ]:
A = 5.0
B = int(10/2)
print(A is B)

False

In [ ]:
A

5.0

In [ ]:
B

5

In [ ]:
A == b

False

In [ ]:
A is not B

True

In [ ]:
A!=B

True

In [ ]:
A is B

False

In [ ]:
id(B)

11122720

In [ ]:
id(A)

140218979280048

In [ ]:
type(A)

float

In [ ]:
type(B)

int

#case 3

In [ ]:
A = 5.0
B = float(10/2)
print(A is B)

False

In [ ]:
A

5.0

In [ ]:
B

5.0

In [ ]:
id(B)

140218979044496

In [ ]:
id(A)

140218979042832

In [ ]:
type(A)

float

In [ ]:
type(B)

float

In [ ]:
A == B

True

In [ ]:
A != B

False

#as we can see that in all the 3 cases the values of both the variables is same but the answer displayed is false the reason is simple as the id of oth the variable is different and python stores different memory block for different variables although their type is same their values are same due to id being different we get the answer as False

#4.Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [ ]:
A = int(100)
B = int(20)
C = int(30)
if A > B <  C:
  print((f"the largest variable is: {A}"))
else:
  print(f"the smallest variable: {B}")

the largest variable is: 100

#7.Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [ ]:

num = int (input("enter the number whose divisibility needs to be checked:"))

div = int (input("enter the number with which divisibility needs to be checked: "))
div1 = int(input("enter the number with which divisibility needs to be checked:  "))

if num%div == 0 and num%div1== 0:

              print ("The number is divisible by 3 and 5.")

else:

              print ("The number is not divisible by 3 and 5.")

enter the number whose divisibility needs to be checked:18
enter the number with which divisibility needs to be checked: 3
enter the number with which divisibility needs to be checked:  5
The number is not divisible by 3 and 5.

#8.Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [ ]:
length = int(input("enter the length of rectangle: "))
width = int(input("enter the width of rectangle: "))
area_of_rectangle = length*width
print(f"area of rectangle: {length}*{width}={area_of_rectangle}")
if length == width:
  print("as per length and width its a square")
else:
  print("its a rectangle")

enter the length of rectangle: 30
enter the width of rectangle: 90
area of rectangle: 30*90=2700
its a rectangle

#9.Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [ ]:
radius_1 = int(input("enter radius of 1st circle: "))
radius_2 = int(input("enter radius of 2nd circle: "))
area_of_circles = 3.14*radius_1**2 , 3.14*radius_2**2
print(f"area of circles: {3.14}*{radius_1**2},{3.14}*{radius_2**2}={area_of_circles}")

if radius_1 == radius_2:
  print("area of circles is equal")
else:
      if radius_1 > radius_2:
        print("radius_1 is larger circle")
      else:
        print("radius_2 is larger circle")

enter radius of 1st circle: 18
enter radius of 2nd circle: 25
area of circles: 3.14*324,3.14*625=(1017.36, 1962.5)
radius_2 is larger circle

#10.Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400

In [2]:
year = int(input("enter the year: "))
leap_year = int(input("the divivsiblity condition for leap year except century year is divisible by 4: "))
century_year = int(input("the number is exactly divisible by 400: "))
if year%leap_year == 0:
  print("its a leap year")
else:
  if year%century_year == 0:
   print("its a leap year")
  else:
    print("its not a leap year")

enter the year: 1999
the divivsiblity condition for leap year except century year is divisible by 4: 4
the number is exactly divisible by 400: 400
its not a leap year