#Q.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
#the errors we encountred during our lecture are as follows:
   # 1.syntax error
   # whenever we define the wrong syntax to code this eroor arises
    #for eg. int A
   # correct form- int("A")
   # when we run this code the eroor optput is syntax error as we wrote it in wrong syntax 
   # 2. value error
   # this error arises when the valuse mismatch in the code
   # for eg. A = float(input("Enter value of A: "))
#B = int(input("Enter value of B: "))

#print(f"Sum of A and B is: {A+B}")
#Enter value of A: 10.2
#Enter value of B: 10.2
    #here the valuse are in float but the we have assigned float only in one cell i.e. A not in B
   # 3. type error
   # this error ariese when there is typing error in the code when we use wrong operators
    #4. name error
   # this error displays when the name is not defined in the code

# Q.2 Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))
print(f"Sum of A and B is: {A+B}")
print(f"Sub of A and B is: {A-B}")
print(f"multiplication of A and B is: {A*B}")
print(f"division of A and B is: {A/B}")
print(f"Square of A and B is: {A**2} {B**2}")

Enter value of A: 38
Enter value of B: 22
Sum of A and B is: 60
Sub of A and B is: 16
multiplication of A and B is: 836
division of A and B is: 1.7272727272727273
Square of A and B is: 1444 484

Q.3 How many reserve keywords are there in python and why we should not use them as a variable name.

#there are 33 reserved keywords in python whic are as follows:
and,
except,
lambda,
with,
as,
finally,
nonlocal,
while,
assert,
false,
None,
yield,
break,
for,
not,

class,
from,
or,

continue,
global,
pass,

def,
if,
raise,

del,
import,
return,

elif,
in,
True,

else,
is,
try,
we should not use them as variables as these keywords has their own preset commands which executes in code and if they are tampered with it will cause an error in the code

Q4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
lastname, firstname = "jamal", "mahin"

In [ ]:
print(f"{lastname}.{firstname}@gmail.com")

jamal.mahin@gmail.com

Q5. Try to print the following lines -
Hi I'm Sunny
My address is 22\3
 I earn 20$ daily

In [ ]:
name = input("name: ")
address = (input("address: "))
earn = str(input("earn: "))
print(f"hi i'm {name} my address is {address} i earn {earn} daily")

name: sunny
address: 20\3
earn: 20$
hi i'm sunny my address is 20\3 i earn 20$ daily

Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
name = input("name: ")
address = input("address: ")
date_of_birth = int(input("date_of_birth"))
print(f"""
my name is: {name}
my address is: {address}
date_of_birth: {date_of_birth}""")
print(f"{name}@ineuron.ai")

name: Mahin Jamal
address: U.P.
date_of_birth2000

my name is: Mahin Jamal
my address is: U.P.
date_of_birth: 2000
Mahin Jamal@ineuron.ai

Q7.Convert the following -
"22.4" into integer
"22" into complex no.

In [ ]:
A = 22.4
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 22.4
data type after: <class 'int'>, value of A: 22

In [ ]:
B = 22
print(f"data type before: {type(B)}, value of B: {B} ")
B = float(B)
print(f"data type after: {type(B)}, value of B: {B} ")

data type before: <class 'int'>, value of B: 22
data type after: <class 'float'>, value of B: 22.0