#1. 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
"hello"
-87.8
-
/
+
1. "*" is a mathematical operator used for multiplication
2. "hello is a string
3. -87.8 is a float
4. "-" is an operator used for subtraction (mathematical)
5. "/" mathematical operator used for divivsion
6. "+" mathematical operator used for addition

#2. What is the difference between string and variable?
A Variable is a store of information, and a String is a type of information you would store in a Variable
for eg. a = "hello"
so here "a" is the variable whereas "hello" is the string

#3.3. Describe three different data types.
the three types of data types in python are as follows 
1. numeric - numeric data types are the one which contains numeric values in form of 1,2,3,4,5...... can be integer, float, complex number
2. sequence type - sequence data type is the one in which the data is in the form of string, list and tuple  
3. boolean - Data type with one of the two built-in values, True or False. Boolean objects that are equal to True , and those equal to False". But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false. It is denoted by the class bool.

#4. What is an expression made up of? What do all expressions do?
An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators.. expression helps in forming up the code and solving our problem

#5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?
A statement is an instruction that the Python interpreter can execute. We have seen two kinds of statements: print and assignment.

When you type a statement on the command line, Python executes it and displays the result, if there is one. The result of a print statement is a value.
 an “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value, as opposed to a “statement” which is just a standalone unit of execution and doesn’t return anything
1. here the statement spam = 10 here spam has an assigned value of 10

#6.After running the following code, what does the variable bacon contain?
1. bacon = 22
2. bacon + 1

In [6]:
bacon = 22
bacon + 1

23

#the variable bacon contains the assigned value of 22 when we run the bacon + 1 the compiler reads the assigned value of the bacon that is 22 and adds 1 in it to get the output 23

#7.What should the values of the following two terms be?
1. spam + spamspam
2. spam*3

In [3]:
"spam" + "spamspam"

'spamspamspam'

In [6]:
"spam" *3

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?
egg is valid variable as we can assign any value it but 100 being in integer form it self we cant assign it to any  value because its a value in its own self

In [15]:
#for eg
egg = 200
100 = vlaue

SyntaxError: ignored

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
the three functions that can be used to get  the integer, floating-point number, or string version of a value
1. integer = int
2. floating point = float
3. string = str

#10. Why does this expression cause an error? How can you fix it?
"i have eaten" +99+ "burritos
.it shows an erroe because strings and integers cannot be displayed along one another

In [19]:
"i have eaten"+99+"burritos"

TypeError: ignored

In [22]:
"i have eaten" + str(99) + "burritos"

'i have eaten99burritos'